@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting;
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment Host
@inject IBooksService BooksService

<PageTitle>Index</PageTitle>

<h1>Welcome to our Books Store!</h1>

<h3>Available Books:</h3>

<DataListView TItemType="Book" Items="_books" ColumnsCount="4">
    <ItemTemplate>
        <BookCard Book="@context" OnAddToCartClicked="AddToCart" />
    </ItemTemplate>
</DataListView>

<h3 class="mt-3">My Cart</h3>
<ul>
    @foreach (var item in _booksCart)
    {
        <li>@item.Title</li>
    }
</ul>

@if (!Host.IsDevelopment())
{
    <SurveyPrompt Title="How is Blazor working for you?" />
}

<ModalPopup Title="Hi!" IsOpen="@_isWelcomeModalOpen" OnCloseClicked="() => _isWelcomeModalOpen = false">
    <ChildContent>
        <p>
            Welcome to our Books Store, here you will
            find a huge collection of books to help you
            build you career in software development,
            enjoy it!
        </p>
    </ChildContent>
    <FooterContent>
        <button class="btn btn-primary" @onclick="() => _isWelcomeModalOpen = false">
            Discover It
        </button>
    </FooterContent>
</ModalPopup>

@code
{
    private bool _isWelcomeModalOpen = true;
    private List<Book> _books = new List<Book>();
    private List<Book> _booksCart = new List<Book>();

    protected override async Task OnInitializedAsync()
    {
        _books = await BooksService.GetAllBooksAsync();
    }

    private void AddToCart(Book selectedBook)
    {
        _booksCart.Add(selectedBook);
    }
}